<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendaciones de IMC - Bajo Peso</title>
</head>
<body>

    <!-- Sección Bajo Peso -->
    <section>
        <!-- Imagen principal -->
        <img src="./images/bajo_peso.jpg" alt="Imagen bajo peso" width="400">
        
        <!-- Texto descriptivo principal en un cuadro -->
        <h2>BAJO PESO 😟</h2>
        <p>¿Te alimentas bien?... El cálculo muestra que te encuentras en una escala de bajo peso, esto puede ser producto de una pérdida considerable de apetito impulsada por varios aspectos... pero NO TE PREOCUPES!, planeamos ayudarte con una serie de consejos 😊</p>
        
        <!-- Recomendaciones -->
        <h3>LICUADOS Y BATIDOS</h3>
        <p>El consumo de leche y frutas en forma de jugo es altamente recomendado. Por el contrario el café y refrescos dietéticos debes de evitar consumir debido a su nulo aporte nutricional.</p>

        <h3>ALIMENTOS RICOS EN NUTRIENTES</h3>
        <p>Alimentos como el pan, la pasta, cereales integrales, vegetales y frutas, así como lácteos, fuentes de proteínas magra, nueces y semillas.</p>

        <h3>CONTROLAR LOS LIQUIDOS</h3>
        <p>No consumir muchos líquidos antes de las comidas ya que a veces los líquidos pueden llenar y así se pierde el apetito.</p>
        
    </section>

    <!-- Pie de página con texto adicional -->
    <footer>
        <p><strong>Para mayor información consulta con un especialista</strong></p>
    </footer>

</body>
</html>


