<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <tittle>Calculadora IMC</tittle>
</head>
<body>
    <h1>CALCULADORA DE IMC</h1>
     Peso: <br>
     <input id="peso" placeholder="Digite su peso" type="number" step="0.01 " /><br /><br />
     <input id="altura" placeholder="Digite su altura" type="number" step="0.01 " /><br /><br />
     <button>Calcular IMC</button>
     <p></p>


</body>
</html>