<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendaciones de IMC - Peso Normal</title>
</head>
<body>

    <!-- Sección Bajo Peso -->
    <section>
        <!-- Imagen principal -->
        <img src="./images/peso_normal.jpeg" alt="Imagen bajo peso" width="400">
        
        <!-- Texto descriptivo principal en un cuadro -->
        <h2>PESO NORMAL</h2>
        <p>Tienes un peso normal. FELICIDADES!, pero recuerda.. un peso en el rango “normal” no significa que ya no hay mas trabajo que hacer, debes de seguir manteniendo una alimentación saludable</p>
        
        <p>Mantener un cuerpo en un peso normal es el primer paso, para mantener una vida saludable. La cantidad de calorias
            gastadas debe ser recuperada en los alimentos consumidos para
            asi mantener un equilibrio
        </p>
        <img src="./images/peso_normal_2.jpg">
    </section>

    <!-- Pie de página con texto adicional -->
    <footer>
        <p><strong>Para mayor información consulta con un especialista</strong></p>
    </footer>

</body>
</html>