<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendaciones de IMC - sobrepeso</title>
</head>
<body>

    <!-- Sección Sobre Peso -->
    <section>
        <img src="./images/sobre_peso.jpeg" alt="Imagen sobre peso" width="400">
        
        <h2>SOBRE PESO</h2>
        <p>Parece que tienes unos kilos de más, NO TE PREOCUPES!, te ofreceremos una serie de pasos o recomendaciones en la cual intentaremos ayudarte a mejorar el estado en el que estás.</p>

        <h3>HACER UN DIAGNÓSTICO</h3>
        <p>Hacer esto podría descartar posibles enfermedades que estén involucradas en el sobrepeso u obesidad</p>

        <h3>HIDRATARTE ADECUADAMENTE</h3>
        <p>Asegúrate de tomar suficiente agua durante el día (aproximadamente 2-3 litros, dependiendo de tu actividad y clima).</p>

        <h3>ALIMENTACION SALUDABLE</h3>
        <p>Elige hacer una buena alimentación, haz un plan alimenticio</p>
    </section>

</body>
</html>
